*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#board{
    width: 100vw;
    height: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cell{
    min-width: 32%;
    border: 1px solid black;
    cursor: pointer;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (orientation: landscape)
{
    #board{
        width: 99vh;
        height: 99vh;
    }
    .cell{min-height: 32%;}
}