body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  width: 100vw;
  height: 100vh;
}

.title {
  color: var(--light);
  text-align: center;
  font-size: 3.2rem;
}

.link-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: max(24px, 5vmin);
  width: clamp(360px, 80%, 1080px);
}

.link-btn {
  width: clamp(240px, 90%, 360px);
  padding: 36px;
  background-color: var(--primary);
  color: var(--light);
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
}
